<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--<app-header></app-header>-->
<!--<app-input-box></app-input-box>-->
<!--<app-example6></app-example6>-->
<!--<app-copy></app-copy>-->
<!--<app-attribute-binding></app-attribute-binding>-->
<!--<app-directives></app-directives>-->
<app-input-output-intro></app-input-output-intro>
<!--<app-star *ngFor="let rete of rating" [rating]="rete"></app-star>-->
<!--<app-star *ngFor="let user of rating" ></app-star>-->

<app-decoupling></app-decoupling>
<router-outlet></router-outlet>
