<!--<h1 [ngClass]="classes">{{username}}</h1>-->

<!--<span [ngStyle]="styles">Reza :P</span>-->

<!--<p *ngIf="isCorrect" [class]="classes">file is true</p>-->
<!--<p *ngIf="!isCorrect">file is false</p>-->


<!--<div *ngIf="isCorrect ; else news">-->
<!--  <table>-->
<!--    <thead>-->
<!--    <td>name</td>-->
<!--    <td>family</td>-->
<!--    <td>age</td>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--      <td>zahra</td>-->
<!--      <td>nuri</td>-->
<!--      <td>25</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
<!--<ng-template #news>-->
<!--  <input type="text">-->
<!--  <button>add user</button>-->
<!--</ng-template>-->
<!--<p *ngFor="let i of users">{{i}}</p>-->
<!--<h3 *ngFor="let g of contact ; let i = index">{{i +":" + g}}</h3>-->
<!--<h3 *ngFor="let g of userObj; let i=index; trackBy:trackByFunc ">{{g.id +" : " + g.name}}</h3>-->
<!--<button (click)="addNewUser()">add user</button>-->
<div [ngSwitch]="switchProperty">
<app-attribute-binding *ngSwitchCase="'a'"></app-attribute-binding>
  <app-header *ngSwitchCase="'b'"></app-header>
  <app-example6 *ngSwitchCase="'c'"></app-example6>
  <app-input-box *ngSwitchCase="'d'"></app-input-box>
</div>
