<!--<app-star ></app-star>-->
<!--<app-star></app-star>-->
<!--<app-star></app-star>-->
<!--<app-star></app-star>-->
<!--<app-star></app-star>-->

<!--<app-star [rating]="3.5"></app-star>-->
<!--<app-star [rating]="1.5"></app-star>-->
<!--<app-star [rating]="5"></app-star>-->
<!--<app-star [rating]="2.5"></app-star>-->
<!--<app-star [rating]="1"></app-star>-->
<!--<app-star [rating]="4"></app-star>-->

<!--<app-star *ngFor="let i of rating" [rating]=rating></app-star>-->
<app-star *ngFor="let rete of rating" [rating]="rete"></app-star>
<app-star></app-star>
